body{
    background-color: black;
   
}
.navbar{
    color: white;
    text-align: center;
}
.navbar ul li{
    list-style: none;
    display: flex;
    text-align: center;
    padding-right: 20px;
}
.navbar .nava{
    display: flex;
    list-style: none;
    text-align: center;
}
.logo{
    color: white;
    text-align: left;
    padding-right: 196px;
    gap: 8px;
    font-size: 24px;
}
.headone{
    color: white;
    text-align: center;
    background: linear-gradient(to right, #ffffffcf, #000000);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    
}

.headertwo{
    color: white;
    text-align: center;
    background: linear-gradient(to right, #ffffffcf, #000000);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.credits{
    color: grey;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    gap: 16px;
}
